@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<style>
    * {
        font-family: "Helvetica",sans-serif;
        box-sizing: border-box;
    }

    body, html {
        min-height: 100%;
        padding: 0;
    }

    body {
        font-size: 16px;
        background: linear-gradient( 145deg, #ffd89b 0%, #19547b 100%) no-repeat fixed;
        display: flex;
        flex-direction: column;
    }

    .form-group {
        margin-bottom: auto;
    }

    footer {
        background: white;
    }

    .form-container {
        margin: auto;
        background: white;
        max-width: 45rem;
        width: 90%;
        border-radius: 16px;
    }

    .form-content {
        margin: auto;
        padding: 0.7rem;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    .links {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
    }

    .form-content input {
        padding: 0.5rem;
        margin: .5rem 0 .5rem 0;
        border: none;
        width: 100%;
        border-bottom: 1px solid #99A2EA;
    }

        .form-content input:focus {
            border: none;
            border-bottom: 1px solid #4E6AD7;
        }

    .form-content h1 {
        margin-top: 0;
        font-size: 2rem;
        font-weight: normal;
    }

    .form-content h2 {
        font-size: 1.5rem;
        font-weight: lighter;
        color: #838592;
    }

    .form-content button {
        max-width: 10rem;
        border-radius: 60px;
        background-color: #54BDD6;
        color: white;
        border: none;
        padding: .5rem 2.5rem;
        margin: 4rem 0 .5rem 0;
    }

    .form-content a {
        margin: .5rem 0 .5rem 0;
        color: rgb(20, 20, 240)
    }

        .form-content a:hover {
            text-decoration: underline;
        }

    #error-message {
        color: red;
    }

    @@media only screen and (max-width: 890px) {
        .form-container {
            min-width: 90%;
        }
    }
</style>

<div class="form-container">
    <div class="form-content">
        <h1>@ViewData["Title"]</h1>
        <h4>Enter your email.</h4>
        <form method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Resend</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
