@section HomePrivacyStyles{
    <link rel="stylesheet" href="~/css/HomePrivacyStyle.css" />
}

@{
    var themaToShow = ViewData["ThemaToShow"] as byte[];
}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="container"></div>
    <img src="~/images/ProductGuideWelcome.png" alt="Snow" style="width:100%;">
    <div class="top-left">
        <h1 class="top-left"> Time Sheet Buddy Software guides and tutorials  </h1>
    </div>
    <div class="bottom">
        <h2 class="heading"> Everything you need to know about buying, using, and customizing Time Sheet Buddy Software.</h2>
    </div>

    <div class="registration">
        <h2 id="registrationTxt" class="heading">Make a Registration!</h2>
        <img id="registrationPng" src="~/images/Registration.png" alt="Snow">
    </div>

    <div class="balcklogs">
        <h2 id="backlogsTxt" class="heading">The Backlog Action gives you the oppertunity to list (in a table) all existing Projects, that your team works on</h2>
        <img id="backlogsPng" src="~/images/Backlogs.png" alt="Snow">
    </div>

    <div class="newBacklog">
        <h2 id="newBacklogTxt" class="heading">You can choos to create new (for new Project) of cource</h2>
        <img id="newBacklogPng" src="~/images/NewBacklog.png" alt="Snow">
    </div>

    <div class="balcklogs">
        <h2 id="emptyBacklogTxt" class="heading">Now you can see the new created Baclog</h2>
        <img id="emptyBacklogPng" src="~/images/EmptyBacklog.png" alt="Snow">
    </div>

    <div class="firstIssue">
        <h2 id="firstIssueTxt" class="heading">Now you can see the create your first Issue and change directly the teammet, who will work on this task with clicking on the Assigned To field and choosing one of the registrated persons.</h2>
        <img id="firstIssuePng" src="~/images/NewTaskCreation.png" alt="Snow">
    </div>

    <div class="details">
        <h2 id="detailsTxt" class="heading">With doublec clicking on some task you can open it in separate window and see the whole information abput it</h2>
        <img id="detailsPng" src="~/images/IssueDetails.png" alt="Snow">
    </div>

    <div class="edit">
        <h2 id="editTxt" class="heading">If you realize, that you want to change something on this Issue, you can do it by clicking the Edit functionality and you will see the information for this issue, but this time you can edit it, save it and go back in the main window for your current Backlog</h2>
        <img id="editPnt" src="~/images/EditIssue.png" alt="Snow">
    </div>

    <div class="inProgress">
        <h2 id="inProgressTxt" class="heading">if you think you can start working on the some task you can drag it to some of the 4 oportunities: Open, In Progress, Active and Close. If you are in Close state the Duration time will automatically be 0 for you (The task is completed)!</h2>
        <img id="inProgressPng" src="~/images/InProgressIssue.png" alt="Snow">
    </div>

    <div class="resolved">
        <h2 id="resolvedTxt" class="heading">The task in Active State: </h2>
        <img id="resolvedPng" src="~/images/ResolvedIssue.png" alt="Snow">
    </div>

    <div class="closed">
        <h2 id="closedTxt" class="heading">The task in Closed State: </h2>
        <img id="closedPng" src="~/images/ClosedIssue.png" alt="Snow">
    </div>
</body>
</html>
