body {
    display: grid;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 2.75rem;
    line-height: 1.18181818;
    margin-bottom: 16px;
    color: #253858;
    letter-spacing: 0;
    margin-top: 0;
}

.pText {
    text-align: center;
    font-size: 1.25rem;
    letter-spacing: .3px;
    line-height: 1.4;
    color: #42526e;
    margin-bottom: 0;
}

.heading {
    text-align: center;
    font-size: 2.25rem;
    line-height: 1.33333333;
    color: #253858;
    letter-spacing: 0;
    margin-top: 0;
    font-size: 1.5rem;
    line-height: 1.33333333;
    margin-bottom: 14px;
    font-weight: 500;
    font-family: Charlie Display, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
}

.container, .balcklogs, .newBacklog, .firstIssue, .details, .edit, .inProgress, .resolved, .closed {
    display: inline-table;
}

#registrationPng {
    width: 50%;
    float: right;
    padding-top: 3%;
}

#registrationTxt {
    float: left;
    width: 49%;
    padding: 15%;
}

#backlogsPng {
    width: 50%;
    float: left;
    padding-top: 7.8%;
}

#backlogsTxt {
    float: right;
    width: 50%;
    padding: 15%;
}

#newBacklogPng {
    width: 50%;
    float: right;
}

#newBacklogTxt {
    float: left;
    width: 50%;
    padding: 10.5%;
}

#emptyBacklogPng {
    float: left;
    width: 50%;
    padding-top: 7%;
}

#emptyBacklogTxt {
    float: right;
    width: 50%;
    padding: 15%;
}

#firstIssuePng {
    float: right;
    width: 50%;
    padding-top: 9%;
}

#firstIssueTxt {
    float: left;
    width: 50%;
    padding: 10%;
}

#detailsPng {
    float: left;
    width: 50%;
    padding: 4%
}

#detailsTxt {
    width: 50%;
    float: right;
    padding: 15%;
}

#editPnt {
    float: right;
    width: 50%;
}

#editTxt {
    float: left;
    width: 50%;
    padding: 10%;
}

#inProgressPng {
    float: left;
    width: 50%;
    padding-top: 11%;
}

#inProgressTxt {
    float: right;
    width: 50%;
    padding: 11%;
}

#resolvedPng {
    float: right;
    width: 50%;
    padding-top: 1%;
}

#resolvedTxt {
    float: left;
    width: 50%;
    padding: 13%;
}

#closedPng {
    float: left;
    width: 50%;
    padding: 8%;
}

#closedTxt {
    float: right;
    width: 50%;
    padding: 13%;
}
