main {
    padding: 3rem 5%;
    height: 90vh;
    background: linear-gradient( 145deg, #ffd89b 0%, #19547b 100%) no-repeat fixed;
}

.issue {
    transition: transform .2s; /* Animation */
}

    .issue:hover {
        transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }

.container body-content {
    width: 80%;
}

.board-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-direction: column;
}

.issues-block {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.issue-container {
    height: 100%;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#issues {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.issue-container h2 {
    margin: .5rem;
}

.issues-list {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    border-radius: .25rem;
    list-style: none;
    margin: 0;
    padding: .5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.issue {
    width: 100%;
    margin: .5rem;
    border: 1px solid black;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
}

.issue-title {
    align-self: center;
    margin: .5rem 0;
    color: #436C81;
    word-wrap: break-word;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

.issue-description {
    align-self: center;
    margin: .1rem 0;
    color: darkgray;
    word-wrap: break-word;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: center;
    font-style: italic;
}

#deletion-tray {
    margin: .2rem;
    width: 100%;
    background-color: #ffeded;
    background-image: url('/images/trash.png');
    background-repeat: no-repeat;
    background-size: 5rem;
    background-position: center;
    opacity: 0.8;
    border-radius: .25rem;
    overflow-y: unset;
}

.issue.dragging {
    opacity: .5;
}

.add-btn-img {
    margin: 0 auto;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-self: flex-start;
}

@media only screen and (max-width: 1024px) {

    main {
        font-size: small;
        padding: .5rem 2%;
        max-width: 99vw;
    }

    .issues-block {
        flex-direction: column;
    }

    .issue-container {
        width: 100%;
        min-height: 40vh;
        max-height: 50vh;
    }
}

@media (min-width: 1200px) .container {
    width: 100%;
}

@media only screen and (max-width: 768px) {

    main {
        font-size: small;
        padding: .5rem 2%;
        max-width: 99vw;
    }

    #issues {
        flex-direction: column;
    }

    .issues-block {
        flex-direction: column;
        width: 100%;
    }

    .issue-container {
        flex-direction: column;
        width: 100%;
        min-height: 40vh;
        max-height: 50vh;
    }
}
